.box {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.boxHeader {
  display: flex;
  justify-content: flex-end;
  align: center;
  flex-basis: 30px;
  padding: 0.4rem;
  background: rgba(0, 0, 0, 0.1);
  svg {
    cursor: pointer;
  }
}

.boxBody {
  flex-grow: 3;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
